{include file="common/header"}

<style>
    body {
        background-image: none;
        background-color: #dedede;
        color: #999999;
        font-family: "Microsoft Yahei", "Helvetica Neue", Arial, Helvetica, sans-serif;
        font-size: 12px;
        text-align: left;
        width: 100%;
    }
    #xh_container {
        background-color: #dedede;
        /*margin-top: 36px;*/
        width: 1098px;
    }
    #wrapper {
        background-color: #dedede;
    }

    .imgList-title {
        height: 45px;
        overflow: hidden;
        display: block;
        line-height: 1.5;
        width: 320px;
    }
</style>

<body>

{include file="common/menu"}

<div id="wrapper">


    <div id="xh_container">

        {include file="common/position"}

        <div class="xh_265x265x00">
            {volist name="articles" id="article"}
            <div style="float: left; width: 343px; height: 293px; background-color: #ffffff; border: solid 1px #ccc; margin-left: 15px;margin-top: 15px;">
                <div style="background-color: #cccccc; width: 313px; height: 188px; margin-top: 16px;
                    margin-left: 14px;">
                    <a target="_blank" href="{:url('article/article', array('artid'=>$article['id']))}">
                        <?php if($article['thumb']) {?>
                        <img src="__SITE_URL__{$article.thumb}" alt="" height="188" width="313">
                        <?php }else {?>
                        <img src="__INDEX__/images/default.jpg" alt="" height="188" width="313">
                        <?php }?>
                    </a>
                </div>
                <div style="margin-left: 14px; line-height: 25px; margin-top: 10px;">
                    <div style="font-size: 12px;color:#cccccc;"><?= date('Y-m-d H:m:s', $article['time']) ?></div>
                    <div style="font-size: 14px;height:45px;">
                        <a target="_blank" class="imgList-title" href="{:url('article/article', array('artid'=>$article['id']))}">{$article.title}</a>
                    </div>

                </div>
            </div>
            {/volist}


            <div style="clear: both;"></div>


            <div style="text-align: right">
                <!--<div class="pages" style="float: right;line-height: 70px;margin-left: 15px">共 3 页，36条</div>-->
                <div style="float: right">
                    {$articles->render();}
                </div>
            </div>
        </div>
    </div>
</div>


{include file="common/footer"}
