{include file='common/header'}
{include file='common/menu'}


<!-- Page Content -->
<div class="page-content">
    <!-- Page Breadcrumb -->
    <div class="page-breadcrumbs">
        <ul class="breadcrumb">
            <li>
                <a href="#">系统</a>
            </li>
            <li>
                <a href="{:url('link/lis')}">链接列表</a>
            </li>
            <li class="active">编辑链接</li>
        </ul>
    </div>
    <!-- /Page Breadcrumb -->

    <!-- Page Body -->
    <div class="page-body">

        <div class="row">
            <div class="col-lg-12 col-sm-12 col-xs-12">
                <div class="widget">
                    <div class="widget-header bordered-bottom bordered-blue">
                        <span class="widget-caption">编辑链接</span>
                    </div>
                    <div class="widget-body">
                        <div id="horizontal-form">
                            <form class="form-horizontal" role="form" action="" method="post">
                                <input type="hidden" name="id" value="{$link.id}">
                                <div class="form-group">
                                    <label for="title" class="col-sm-2 control-label no-padding-right">链接标题</label>
                                    <div class="col-sm-6">
                                        <input class="form-control" id="title" placeholder="" name="title" type="text" value="{$link.title}" maxlength="30">
                                    </div>
                                    <p class="help-block col-sm-4 red">* 必填</p>
                                </div>

                                <div class="form-group">
                                    <label for="desc" class="col-sm-2 control-label no-padding-right">链接描述</label>
                                    <div class="col-sm-6">
                                        <textarea class="form-control" id="desc" placeholder="" name="desc" maxlength="100">{$link.desc}</textarea>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="url" class="col-sm-2 control-label no-padding-right">链接</label>
                                    <div class="col-sm-6">
                                        <input class="form-control" id="url" placeholder="" name="url" type="text" value="{$link.url}" maxlength="150">
                                    </div>
                                    <p class="help-block col-sm-4 red">* 必填 http://或https://开头</p>
                                </div>

                                <div class="form-group">
                                    <div class="col-sm-offset-2 col-sm-10">
                                        <button type="submit" class="btn btn-default">保存信息</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!-- /Page Body -->
</div>
<!-- /Page Content -->

{include file='common/footer'}