{include file='common/header'}
{include file='common/menu'}

<!-- Page Content -->
<div class="page-content">
    <!-- Page Breadcrumb -->
    <div class="page-breadcrumbs">
        <ul class="breadcrumb">
            <li>
                <a href="#">系统</a>
            </li>
            <li class="active">链接列表</li>
        </ul>
    </div>
    <!-- /Page Breadcrumb -->

    <!-- Page Body -->
    <div class="page-body">

        <button type="button" tooltip="添加链接" class="btn btn-sm btn-azure btn-addon"
                onClick="javascript:window.location.href = '{:url(\'link/add\')}'"><i class="fa fa-plus"></i> Add
        </button>
        <div class="row">
            <div class="col-lg-12 col-sm-12 col-xs-12">
                <div class="widget">
                    <div class="widget-body">
                        <div class="flip-scroll">
                            <form action="" method="post">
                            <table class="table table-bordered table-hover">
                                <thead class="">
                                <tr>
                                    <th class="text-center" style="width: 10%">ID</th>
                                    <th class="text-center" style="width: 10%">排序</th>
                                    <th class="text-center" style="width: 20%">链接名称</th>
                                    <th class="text-center" style="width: 20%">链接描述</th>
                                    <th class="text-center" style="width: 20%">链接</th>
                                    <th class="text-center" style="width: 20%">操作</th>
                                </tr>
                                </thead>
                                <tbody>
                                {volist name="links" id="link"}
                                <tr>
                                    <td align="center">{$link.id}</td>
                                    <td align="center"><input style="width: 50px; text-align: center" type="text" name="{$link.id}" value="{$link.sort}" required="required" maxlength="3"></td>
                                    <td align="left"><?= mb_substr($link['title'], 0, 8, 'utf-8'); if(mb_strlen($link['title'], 'utf-8')>8) {echo '...';};?></td>
                                    <td align="left"><?= mb_substr($link['desc'], 0, 8, 'utf-8'); if(mb_strlen($link['desc'], 'utf-8')>8) {echo '...';};?></td>
                                    <td align="left"><a href="{$link.url}" target="_blank"><?= mb_substr($link['url'], 0, 30, 'utf-8'); if(mb_strlen($link['url'], 'utf-8')>30) {echo '...';};?></a></td>
                                    <td align="center">
                                        <a href="{:url('link/edit', array('id'=>$link['id']))}" class="btn btn-primary btn-sm shiny">
                                            <i class="fa fa-edit"></i> 编辑
                                        </a>
                                        <a href="#" onClick="warning('确实要删除该链接吗', '{:url(\'link/del\', array(\'id\'=>$link[\'id\']))}')"
                                           class="btn btn-danger btn-sm shiny">
                                            <i class="fa fa-trash-o"></i> 删除
                                        </a>
                                    </td>
                                </tr>
                                {/volist}
                                </tbody>
                            </table>
                            <div style="margin-top: 10px;float: left"><input type="submit" class="btn btn-primary" value="排序"></div>
                            </form>
                        </div>
                        <div style="margin-top: 10px; text-align: right">
                            {$links->render()}
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!-- /Page Body -->
</div>
<!-- /Page Content -->

{include file='common/footer'}
