<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE8" />
    <title>{$confs.site_name}</title>
    <meta name="description" content="{$confs.site_name}" />
    <meta name="keywords" content="{$confs.site_name}" />
    <link href="__ADMIN__/style/bootstrap.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" media="all" href="__INDEX__/style/style.css?v=2" />
    <script type="text/javascript" src="__INDEX__/style/jquery.min.2.0.js"></script>
    <link rel="stylesheet" href="__INDEX__/style/swiper-3.3.1.min.css" type="text/css" />
    <link rel="stylesheet" href="__INDEX__/style/swiper.css" type="text/css" />
    <script src="__INDEX__/style/common.js" type="text/javascript"></script>
    <script src="__ADMIN__/style/bootstrap.js"></script>
    <link rel="stylesheet" href="__INDEX__/style/list.css?v=1" type="text/css"/>
    <link rel="shortcut icon" href="__INDEX__/images/ts.png" type="image/x-icon" />
</head>